$color_main: #FF6060;
$color_black: #000000;
$color_white: #FFFFFF;
$color_background: #F7F7F7;



$breakpoints: (
    max: 1440px,
    tablette: 992px,
    mobile: 575
);
// @media (max-width: 599px) {
// }