.global {
    color: $color_main;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main {
        width: 597px;
        height:263px;
        font-weight: 700;
        font-size: 288px;
    }
    .message {
        width: 872px;
        height: 51px;
        font-weight: 500;
        font-size: 36px;
    }
    .linkback {
        text-decoration: none;
    }
    .backhome {
        font-weight: 500;
        font-size: 18px;
        border-bottom: 2px solid transparent;        
        width: 285px;
        color: $color_main;
        &:hover {
            border-bottom: solid 2px $color_main;
        }
    }
}