// Style et media quieries page Error404
.global {
  width: 100%;
  color: $color_main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 100px 0px;
  .object {
    font-weight: 700;
    font-size: 288px;
    margin: 20px 30px 20px 30px;
    @media screen and (max-width: map-get($breakpoints , tablette)) {
      font-size: 192px;
    }
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      font-size: 96px;
    }
  }
  .message {
    font-weight: 500;
    font-size: 36px;
    @media screen and (max-width: map-get($breakpoints , tablette)) {
      font-size: 27px;
    }
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      text-align: center;
      font-size: 18px;
    }
    br {
      display: none;
      @media screen and (max-width: map-get($breakpoints , mobile)) {
        display: inline;
      }
    }
  }
  .linkback {
    text-decoration: none;
    margin: 50px 0px;
    margin: 70px 0px 50px 0px;
  }
  .backhome {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    color: $color_main;
    &:hover {
      border-bottom: solid 2px $color_main;
    }
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      font-size: 14px;
    }
  }
}
