.wrapper {
  //   width: 47%;
  .heading {
    .title {
      font-size: 18px;
    }
  }
  .description {
    width: 100%;
    // padding: 40px 12px 50px 20px;
    font-size: 18px;
    font-weight: 400;
  }
}
