//Caroussel, style et adaptation du style du composant importé pour media quieries page Product
.caroussel {
  @media screen and (max-width: map-get($breakpoints , mobile)) {
    height: 255px;
  }
  .left {
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      top: 85px;
      left: -30px;
    }
    img {
      @media screen and (max-width: map-get($breakpoints , mobile)) {
        width: 50%;
      }
    }
  }
  .right {
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      top: 85px;
      right: -30px;
    }
    img {
      @media screen and (max-width: map-get($breakpoints , mobile)) {
        width: 50%;
      }
    }
  }
  .count {
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      visibility: hidden;
    }
  }
}

//product_heading, style et adaptation du style avec composants générés et importés Tag, User & Rating pour media quieries page Product
.main-product .product-heading {
  @media screen and (max-width: map-get($breakpoints , mobile)) {
    width: 100%;
    margin: 15px 0px 10px 0px;
  }
  &__name {
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      font-size: 18px;
    }
  }
  &__location {
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      font-size: 14px;
    }
  }
  .tag {
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      display: flex;
      flex-wrap: wrap;
    }
    .tagName {
      @media screen and (max-width: map-get($breakpoints , mobile)) {
        height: 18px;
        font-size: 10px;
        padding: 2px 25px 2px 25px;
        border-radius: 5px;
      }
    }
  }
}
//User, style et adaptation du style du composant importé pour media quieries page Product
// Rating, style et adaptation du style du composant importé pour media quieries page Product

.user {
  // @media screen and (max-width: map-get($breakpoints , tablette)) {
  //   width: 100%;
  //   flex-direction: row-reverse;
  //   justify-content: space-between;
  //   align-items: center;
  // }
  @media screen and (max-width: map-get($breakpoints , mobile)) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .userProfile {
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      justify-content: flex-end;
      width: 33%;
      margin-bottom: 0px;
    }
    .userName {
      @media screen and (max-width: map-get($breakpoints , mobile)) {
        font-size: 12px;
      }
    }
    .userAvatar {
      @media screen and (max-width: map-get($breakpoints , mobile)) {
        width: 32px;
      }
    }
  }
  .userRate {
    @media screen and (max-width: map-get($breakpoints , tablette)) {
      margin-right: 10px;
    }
    @media screen and (max-width: map-get($breakpoints , inter)) {
      margin-right: 10px;
    }
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      width: 33%;
      margin-bottom: 0px;
    }
    img {
      @media screen and (max-width: map-get($breakpoints , mobile)) {
        width: 15px;
      }
    }
  }
}

//Collapse, style et adaptation du style avec composant importé Tag pour media quieries page Product
.product-collapse {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (max-width: map-get($breakpoints , mobile)) {
    margin: 20px 0px 50px 0px;
  }
  .wrapper {
    width: 47%;
    @media screen and (max-width: map-get($breakpoints , mobile)) {
      width: 100%;
      margin: 0px 0px 20px 0px;
    }
    .heading {
      @media screen and (max-width: map-get($breakpoints , mobile)) {
        height: 30px;
      }
      .title {
        @media screen and (max-width: map-get($breakpoints , mobile)) {
          font-size: 13px;
        }
      }
    }

    .description {
      width: 100%;
      padding: 43px 12px 53px 20px;
      @media screen and (max-width: map-get($breakpoints , mobile)) {
        padding: 23px 7px 2px 12px;
      }
      p {
        margin: 0px;
        @media screen and (max-width: map-get($breakpoints , mobile)) {
          font-size: 12px;
        }
      }
      ul {
        padding: 0px;
        margin: 0px;
        @media screen and (max-width: map-get($breakpoints , mobile)) {
          font-size: 12px;
        }
      }
    }
  }
}
