@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  box-sizing: border-box;
  box-sizing: border-box;
}

body > :not(.container-loader) .container-loader {
  width: 100%;
}

body {
  max-width: 1440px;
  padding: 40px 100px 0px 100px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FF6060;
}

body, html {
  font-family: "Montserrat", sans-serif;
}

.custom {
  height: 223px;
  border-radius: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.custom::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #000000, #000000);
  opacity: 0.4;
  border-radius: 25px;
}
.custom img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.custom__text {
  font-weight: 500;
  font-size: 48px;
  color: #FFFFFF;
  position: absolute;
  z-index: 3;
}

.container {
  width: 100%;
  margin: 45px 0 45px 0;
  padding: 56px 50px 0 50px;
  background-color: #F7F7F7;
  border-radius: 25px;
}
.container .product {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.container li {
  height: 340px;
  margin-bottom: 50px;
}
.container .card {
  width: 340px;
  height: 340px;
  position: relative;
  margin-bottom: 50px;
}
.container .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, #000000 50%, #FFFFFF);
  opacity: 0.4;
  border-radius: 10px;
}
.container .card .title {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  position: absolute;
  top: 270px;
  bottom: 0;
  right: 0px;
  left: 20px;
  border-radius: 10px;
  z-index: 1;
}
.container .card .vew {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.header__nav {
  width: 309px;
  text-decoration: none;
}
.header__menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
}
.header__menu .line {
  border-bottom: 2px solid transparent;
}
.header__menu .line > a {
  text-decoration: none;
  color: #FF6060;
}
.header__menu a:focus {
  text-decoration: underline #FF6060;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  height: 209px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
}
.footer__logo {
  margin-top: 50px;
}
.footer__logo__logo__white {
  color: #FFFFFF;
}
.footer__mention {
  height: 46px;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

.wrapper {
  width: 1023px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.wrapper .heading {
  width: 100%;
  height: 47px;
  border-radius: 5px;
  background-color: #FF6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px 0px 20px;
}
.wrapper .heading .title {
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  width: 100px;
}
.wrapper .heading .dropdown {
  width: 50px;
  height: 45px;
  border: none;
  background-color: transparent;
  margin-top: 5px;
}

.description {
  background-color: #F7F7F7;
  border-radius: 0 0 5px 5px;
  font-weight: 400;
  font-size: 24px;
  color: #FF6060;
  padding: 36px 27px 19px 18px;
}

.global {
  color: #FF6060;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.global .main {
  width: 597px;
  height: 263px;
  font-weight: 700;
  font-size: 288px;
}
.global .message {
  width: 872px;
  height: 51px;
  font-weight: 500;
  font-size: 36px;
}
.global .linkback {
  text-decoration: none;
}
.global .backhome {
  font-weight: 500;
  font-size: 18px;
  border-bottom: 2px solid transparent;
  width: 285px;
  color: #FF6060;
}
.global .backhome:hover {
  border-bottom: solid 2px #FF6060;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
