.header {
    // width: 1240px;
    // height: 68px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    &__nav {
        width: 309px;
        text-decoration: none;
    }
        &__menu {
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            font-weight: 500;

            li:hover {
                border-bottom: solid 2px #FF6060;
            }
            
            .line {
                border-bottom: 2px solid transparent;
            }

            .line > a {
                text-decoration: none;
                color: #FF6060;
                }
        }
}



