.tag {
  display: flex;
  flex-wrap: wrap;
  .tagName {
    height: 25px;
    padding: 3px 25px 0px 25px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
    color: $color_white;
    background-color: $color_main;
    border-radius: 10px;
    text-align: center;
  }
}
