.header {
  // height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  @media screen and (max-width: map-get($breakpoints , mobile)) {
    margin-bottom: 10px;
  }

  &__image {
    img {
      @media screen and (max-width: map-get($breakpoints , mobile)) {
                width: 145px};
    }
//         
// 
    // img {
    //   width: 100%;
    // }
  }

  &__nav {
    width: 309px;
    text-decoration: none;
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      width: unset;
    }

    .menu {
      list-style: none;
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 500;
      @media screen and (max-width: map-get($breakpoints, mobile)) {
        font-size: 12px;
        text-transform: uppercase;
      }

      .line {
        border-bottom: 2px solid transparent;
        padding-left: 10px;
      }
      .line > a {
        text-decoration: none;
        color: $color_main;
      }
      a:focus {
        text-decoration: underline $color_main;
      }
    }
  }
}
